*{
    margin: 0%;
    padding: 0%;
}

.menu img {
    width: 610px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu p{
    text-align: center;
    font-size: 30px;
}

.menu {
    text-align: center ;
   
}


.orta {
    text-align: center;
    margin-top: 20px;

    
}
.orta .orta1 ul {
    width: 40%;
    height: 100px;
    padding-top: 15px;
    float: left;
    list-style-type: none;
    font-size: 20px;
    background-color: aquamarine;
    background-size: contain;
}

.orta .orta2 ul {
    width: 15%;
    height: 105px;
    float: left;
    padding-top: 10px;
    list-style-type: none;
    margin-left: 10px;
    font-size: 20px;
    background-color: aquamarine;
    background-size: contain;
}

.orta .orta3 {
    width: 40%;
    height: 100px;
    padding-top: 15px;
    float: left;
    margin-left: 10px;
    font-size: 20px;
    background-color: rgb(10, 151, 139);
}

footer{
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 1250px;  

}
